html, body{
    height: 100%
}

body{
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: aliceblue;
}

.form-signin .form-floating:focus-within{
    z-index:2;
}


.form-signin input[type="email"]{
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}


.form-signin input[type="password"]{
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-floating{
    margin:10px;
}

